/Line_Pack/release/*
/Line_Pack/debug/*
/Line_Pack/Makefile*
/Line_Pack/ui*
/Line_Pack/dip.pro.user
/D_Packing_GUI/release/*
/D_Packing_GUI/debug/*
/D_Packing_GUI/Makefile*
/D_Packing_GUI/ui*
/D_Packing_GUI/D_Packing_GUI.pro.user
/D_DFF_PACK/release/*
/D_DFF_PACK/debug/*
/D_DFF_PACK/Makefile*
/D_DFF_PACK/ui*
/D_DFF_PACK/D_DFF_PACK.pro.user
/D_DFF_FMUoR/release/*
/D_DFF_FMUoR/debug/*
/D_DFF_FMUoR/Makefile*
/D_DFF_FMUoR/ui*
/D_DFF_FMUoR/D_DFF_FMUoR.pro.user